name: xcat_test
on: [pull_request, workflow_dispatch]
jobs:
  xcat_pr_test:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get install -y fakeroot reprepro devscripts debhelper libcapture-tiny-perl libjson-perl libsoap-lite-perl libdbi-perl libcgi-pm-perl quilt openssh-server dpkg looptools genometools software-properties-common
      - name: Initialize
        run: perl builddebs.pl --init jammy
      - name: Build the packages
        run: perl builddebs.pl --build-all --target jammy
      - name: Run the tests
        run: perl test/ubuntu/scripts/testxcat.pl --run-local
      # - name: Run tests
      #   run: perl github_action_xcat_test.pl

  # Note: github_action_xcat_test.pl is debian dependent, we
  #       need to generalize it before running on EL
  # xcat_pr_test_el10:
  #   runs-on: ubuntu-latest
  #   container:
  #     image: rockylinux/rockylinux:10
  #   timeout-minutes: 60
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Install dependencies
  #       run: dnf install -y fakeroot perl-Capture-Tiny perl-JSON perl-SOAP-Lite perl-DBI perl-CGI quilt openssh looptools 
  #     - name: Run tests
  #       run: perl github_action_xcat_test.pl
